---
import Section from "../Section.astro";
import Container from "../Container.astro";

import { cta } from "../../data";
---

<Section id="hero">
  <Container>
    <div class="grid lg:grid-cols-12">
      <div class="order-2 lg:order-1 lg:col-span-7 text-center lg:text-left">
        <h1 class="mb-10 text-5xl font-semibold tracking-wider leading-snug">
          Une aide sur mesure pour <span class="uppercase text-indigo-500"
            >réduire votre dette technique</span
          >
        </h1>

        <h3 class="mb-10 text-xl italic">
          Documentation, tests unitaires, tests end-to-end : faites-nous
          confiance pour vous aider à améliorer la qualité et la maintenabilité
          de votre code React.
        </h3>

        <button
          class="py-5 px-15 text-xl font-bold bg-indigo-500 text-gray-100 rounded-lg shadow-md w-64"
        >
          <a href={cta.internalUrl}>{cta.button}</a>
        </button>
      </div>

      <div
        class="order-1 lg:order-2 mb-5 lg:mb-0 lg:col-span-5 justify-self-center lg:justify-self-end"
      >
        <img
          src="/images/hero.png"
          alt=""
          class="w-60 h-60 lg:w-96 lg:h-96 object-contain"
        />
      </div>
    </div>
  </Container>
</Section>
