---
import Section from "../Section.astro";
---

<Section background="bg-indigo-900" id="hero">
  <div class="max-w-6xl mx-auto justify-self-center text-center">
    <h1 class="mb-8 mt-2 text-4xl lg:text-8xl font-bold mx-auto tracking-wide">
      Une aide sur mesure pour tester votre code
    </h1>

    <h3 class="mb-10 italic text-lg lg:text-2xl">
      Nous sommes votre ressource externe qui va analyser votre code React, le
      documenter, et créer les tests nécessaires (unitaires ou E2E).
    </h3>

    <a
      href="https://calendly.com/erischon/contact"
      target="_blank"
      class="animate-bounce"
    >
      <button
        class="bg-gray-100 text-gray-700 font-semibold px-9 py-3 hover:bg-transparent hover:text-gray-100 border border-gray-100 dark:hover:text-gray-100 dark:hover:border-gray-100 text-lg md:text-2xl transition duration-300 rounded-lg"
      >
        En savoir plus
      </button>
    </a>
  </div>
</Section>
