---
import { metrics } from "../../data";
import MetricsCard from "../MetricsCard.astro";
import Section from "../Section.astro";
---

<Section id="metrics" specificStyle="py-5">
  <div class="grid md:grid-cols-12 w-full justify-center gap-4">
    {metrics.map((metric) => <MetricsCard {...metric} />)}
  </div>
</Section>
