---
import Icon from "astro-icon";

import Container from "../Container.astro";
---

<footer class="px-5 py-10 bg-gray-900 text-gray-100">
  <Container>
    <div class="grid md:grid-cols-3 gap-10 justify-around">
      <div class="">
        <h3 class="text-xl font-bold mb-5">Eri Schön</h3>

        <p class="mb-5">
          Je suis un développeur React spécialisé dans la documentation de code,
          la création de tests unitaires et de tests end-to-end.
        </p>

        <ul class="flex gap-5">
          <li>
            <a
              href="https://www.linkedin.com/in/ericschonhofen/"
              target="_blank"><Icon name="simple-icons:linkedin" /></a
            >
          </li>
          <li>
            <a href="https://github.com/erischon" target="_blank"
              ><Icon name="simple-icons:github" /></a
            >
          </li>
          <li>
            <a href="https://twitter.com/erischon" target="_blank"
              ><Icon name="simple-icons:twitter" /></a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-xl font-bold mb-5">Company</h3>
        <ul>
          <li><a href="/#about">About</a></li>
          <li><a href="/">Blog</a></li>
        </ul>
      </div>

      <div>
        <h3 class="text-xl font-bold mb-5">Services</h3>

        <ul>
          <li class="hover:text-indigo-500">
            <a href="/#services">Audit de code</a>
          </li>
          <li class="hover:text-indigo-500">
            <a href="/#services">Documentation</a>
          </li>
          <li class="hover:text-indigo-500">
            <a href="/#services">Test Unitaire</a>
          </li>
          <li class="hover:text-indigo-500">
            <a href="/#services">Test End-to-End</a>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</footer>

<div class="px-5 py-5 bg-gray-900 text-gray-100">
  <Container specificStyle="py-5">
    <div class="text-center lg:text-left">
      &copy; Copyright 2023-2024, All rights reserved by Eri Schön
    </div>
  </Container>
</div>

<style>
  [astro-icon] {
    width: 2em;
    height: 2em;
  }
</style>
