---

---

<header
  class="max-w-6xl min-h-[70px] flex justify-between items-center mx-auto p-2 lg:p-0"
>
  <div>
    <h2 class="text-lg lg:text-xl font-bold">Eri Schön</h2>
  </div>

  <div>
    <ul class="text-lg lg:text-xl font-semibold">
      <li><a href="/">Accueil</a></li>
    </ul>
  </div>

  <div>
    <button
      class="py-3 px-6 border-2 rounded-lg border-indigo-700 text-lg lg:text-xl font-bold"
    >
      <a href="">prendre rdv</a>
    </button>
  </div>
</header>
