---

---

<header
  class="max-w-6xl min-h-[70px] flex justify-between items-center mx-auto"
>
  <div>
    <h2 class="text-xl font-bold">Eri Schön</h2>
  </div>

  <div>
    <ul class="font-semibold text-xl">
      <li><a href="/">Accueil</a></li>
    </ul>
  </div>

  <div>
    <button
      class="py-3 px-6 border-2 rounded-lg border-indigo-700 text-xl font-bold"
    >
      <a href="">prendre rdv</a>
    </button>
  </div>
</header>
