---
type Props = {
  title: string;
  description: string;
  specificStyle?: string;
};

const { title, description, specificStyle } = Astro.props;
---

<div
  class=`${specificStyle} flex flex-col items-center rounded-lg shadow-lg p-5 bg-gray-100 flex-grow`
>
  <div>
    <div class="flex mb-5 text-xl font-semibold uppercase">
      {title}
    </div>

    <p class="text-lg text-gray-500">
      {description}
    </p>
  </div>
</div>
