---
type Props = {
  title: string;
  paragraph: string;
  specificStyle?: string;
};

const { title, paragraph, specificStyle } = Astro.props;
---

<div
  class=`${specificStyle} flex flex-col justify-normal items-center rounded-lg shadow-lg p-5`
>
  <div>
    <div class="flex mb-5 text-xl font-semibold">Vite</div>

    <p class="text-lg">
      Vous devez fournir un code rapidement mais vous n’arrivez pas à tout faire
      : développer de nouvelles fonctionnalités et coder des tests robustes.
    </p>
  </div>
</div>
