---
type Props = {
  id: string;
  background: string;
  specificStyle: string;
};

const { id, background, specificStyle } = Astro.props;
---

<section
  id={id}
  class={`${background} ${specificStyle} max-w-6xl mx-auto py-[5%]`}
>
  <slot />
</section>
