---
import Icon from "astro-icon";

type Props = {
  title: string;
  description: string;
  icon: string;
  specificStyle?: string;
};

const { title, description, icon, specificStyle } = Astro.props;
---

<div
  class=`${specificStyle} flex flex-col rounded-lg shadow-lg p-5 bg-indigo-50 flex-grow gap-4`
>
  <div class="text-indigo-500 w-[5rem] h-[5rem] shadow-md rounded-full p-4">
    <Icon name={icon} />
  </div>

  <div>
    <h3 class="flex mb-2 text-md lg:text-lg font-semibold uppercase">
      {title}
    </h3>

    <p class="text-sm lg:text-md text-gray-500">
      {description}
    </p>
  </div>
</div>
